<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/assets/globalStyle.css">
    <link rel="stylesheet" href="public/assets/styles/salesforce-lightning-design-system.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Martel+Sans&family=Poppins&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
    <title>Mr. SFDC | Abhinav Potdar</title>
</head>
<body>
    <pages-navbar></pages-navbar>
    {{{body}}}
    <pages-footer></pages-footer>
    {{{lwr_resources}}}
</body>
</html>